%full-width-height-infocard {
    width: 100%;
    height: 100%;
    background-color: rgba(141, 141, 141, .65);
    border-radius: 10px;
    padding: 3%;
}

.display-container {
    display: grid;
    grid-template-rows: 90vh 10vh;
    .display-data-container {
        grid-row: 1/2;
        width: 100%;
        height: 100%;
        padding: 2.5%;
        display: grid;
        grid-column-gap: 2%;
        grid-row-gap: 3%;
        grid-template-columns: 25% 43% 28%;
        grid-template-rows: 44% 53%;
        .display-data-sub-container {
            @extend %full-width-height-infocard;
            grid-column: 1/2;
            grid-row: 2/3;
        }
        .display-data-info-container {
            @extend %full-width-height-infocard;
            grid-column: 2/3;
            grid-row: 2/3;
            .youtube-container {
                position: relative;
                width: 100%;
                height: 100%;
                .video {
                    position: relative;
                    top: 0;
                    left: 0;
                    width: 100%;
                    height: 100%;
                }
            }
        }
        .display-data-prices-container {
            @extend %full-width-height-infocard;
            grid-column: 3/4;
            grid-row: 1/3;
            display: flex;
            flex-direction: column;
            justify-content: space-evenly;
            align-items: center;
            .display-data-prices-flux-line {
                width: 100%;
                display: grid;
                align-items: center;
                grid-template-columns: 5% 55% 25% 15%;
                .display-data-arrow {
                    width: 100%;
                }
            }
        }
    }
    .rss-feed {
        grid-row: 2/3;
        background-color: #4B4A51;
        width: 100%;
        padding: 0 3%;
        display: flex;
        align-items: center;
        .feed-text {
            font-size: 1.5rem;
            font-weight: 500;
            letter-spacing: 1px;
        }
    }
}

// .display-container{
//     position: relative;
//     display: grid;
//     grid-template-columns: 60vw 40vw;
//     grid-template-rows: 60vh 30vh 10vh;
//     .category-display {
//         display: flex;
//         flex-direction: row;
//         justify-content: space-evenly;
//         align-items: center;
//         width: 100%;
//         grid-row: 1/2;
//         grid-column: 1/2;
//         .display-img {
//             width: 25%;
//         }
//     }
//     .price-fluctuation-graph {
//         display: flex;
//         justify-content: space-evenly;
//         align-items: center;
//         width: 100%;
//         grid-row: 2/3;
//         grid-column: 1/2;
//     }
//     .rss-feed {
//         background-color: #4B4A51;
//         width: 100%;
//         grid-row: 3/4;
//         grid-column: 1/3;
//         padding: 2%;
//         .feed-text {
//             color: #E9DBCC;
//             font-size: 1.5rem;
//         }
//     }
//     .category-item-container {
//         width: 100%;
//         grid-row: 1/3;
//         grid-column: 2/3;
//         display: flex;
//         flex-direction: column;
//         justify-content: space-evenly;
//         .category-item-display {
//             display: flex;
//             justify-content: space-between;
//             align-items: center;
//             height: 17%;
//             font-size: 1.5rem;
//             padding: 0 5%;
//             align-content: center;
//         }
//     }
// }