@import url('https://fonts.googleapis.com/css?family=Proza+Libre');
.bg-primary {
  background: #fdcc52;
  background: -webkit-linear-gradient(#fdcc52, #fdc539);
  background: linear-gradient(#fdcc52, #fdc539); 
 }

.text-primary {
  color: #fdcc52; }

.no-gutter > [class*='col-'] {
  padding-right: 0;
  padding-left: 0; }

.btn-outline {
  color: white;
  border: 1px solid;
  border-color: white; }
  .btn-outline:hover, .btn-outline:focus, .btn-outline:active, .btn-outline.active {
    color: white;
    border-color: #fdcc52;
    background-color: #fdcc52; }

.btn {
  border-radius: 300px;
  font-family: 'Lato', 'Helvetica', 'Arial', 'sans-serif';
  letter-spacing: 2px;
  text-transform: uppercase; }

.btn-xl {
  font-size: 11px;
  padding: 15px 45px; }
