.display-container {
    width: 100vw;
    height: 100vh;
    position: relative;
    .display-banner {
        display: flex;
        justify-content: start;
    }
    .display-grid {
        position: absolute;
        top: 30%;
        left: 7.5%;
        width: 70%;
        height: 60%;
        display: grid;
        grid-gap: 5%;
    }
    .display-img {
        max-height: 8vh;
    }
    div {
        border-radius: 5px;
    }
}