.login-container {
    text-align: center;
    width: 100vw;
    height: 100vh;
    background-image: linear-gradient($bgc-tinted, $bgc-tinted), url("../images/landingpage.jpg");
    background-size: cover;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-attachment: fixed;
    position: relative;
    .login-grid {
        position: absolute;
        top: 55%;
        left: 7.5%;
        width: 70%;
        height: 22%;
        display: grid;
        grid-template-columns: repeat(5, 20%);
        grid-template-rows: repeat(3, 1fr);
        grid-template-areas: "un un un un submit" "pw pw pw pw submit" "so so so so so";
        grid-gap: 5%;
        input {
            border: 0;
            border-radius: 5px;
            padding: 5%;
            width: 100%;
            font-size: 120%;
            background-color: rgba(141, 141, 141, 0.95);
            color: #E9DBCC;
        }
        div {
            border-radius: 5px;
        }
        button {
            border: 0;
            border-radius: 5px;
        }
        .username {
            grid-area: un;
        }
        .password {
            grid-area: pw;
        }
        .login-button-hp {
            grid-area: submit;
            background-color: $theme-orange;
        }
        .social-login{
            grid-area: so;
            display: flex;
            justify-content: space-between;
            height: 100%;
            .google{
                background-color: white;
            }
            .facebook{
                background-color: #4267b2;
            }
            .social-button{
                width: 48%;
                height: 100%;
                display: flex;
                justify-content: space-around;
                align-items: center;  
                img{
                    margin: 0;
                }  
            }
        }

    }
}
