.searchbar {
    width: 100%;
    margin-bottom: 5vmin;
    background-color: $search-bar-bgc;
    color: $search-bar-font;
}

.item-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 1.2vh;
    width: 100%;
    .item-cards {
        width: 100%;
        height: 100%;
        background-color: $item-card-bgc;
        display: grid;
        padding: 0;
        grid-template-columns: 1fr 15vmin;
        grid-template-rows: auto;
        .pricetag {
            padding: 0 5%;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
            span {
                font-size: 150%;
            }
        }
        .arrow-container {
            border-radius: 5px;
            width: 15vmin;
            height: 15vmin;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            background: rgba(110, 108, 108, .5);
            .arrow {
                width: 42%;
            }
        }
        span {
            color: $item-card-text;
        }
    }
    .item-price-up {
        border-bottom: 3px solid $up-dim;
    }
    .item-price-down {
        border-bottom: 3px solid $down-dim;
    }
    .item-details {
        border-bottom-left-radius: 5px;
        border-bottom-right-radius: 5px;
        background-color: $item-detail-bgc;
        width: 98%;
        .pt-collapse-body {
            display: grid;
            grid-template-columns: 55% 45%;
            grid-template-areas: "desc charV";
            .description {
                grid-area: desc;
                display: flex;
                flex-direction: column;
                justify-content: center;
                span{
                    font-size: 120%;
                    text-justify: auto;
                }
            }
            .chartVar {
                grid-area: charV;
                display: flex;
                flex-direction: column;
                justify-content: center;
                .variables {
                    display: flex;
                    flex-direction: row;
                    justify-content: space-evenly;
                    align-items: center;
                    .detail-arrow {
                        width: 20%;
                    }
                    .detail-percentage {
                        font-size: 130%;
                    }
                }
            }
            span {
                color: $item-detail-text;
            }
        }
    }
    .item-detail-onflex {
        padding: 10% 5%;
    }
}