.request-line {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-bottom: 3%;
    background-color: rgba(141, 141, 141, .75);
    .line-item {
        display: inline-flex;
        align-items: center;
    }
}

.request-summary {
    width: 100%;
    padding: 5%;
    margin-bottom: 5%;
    background-color: rgba(141, 141, 141, .75);
    hr {
        width: 100%;
        border: 1px solid rgba(233, 219, 204, .2);
        margin-bottom: 0;
    }
    .confirm-button {
        width: 100%;
        background-color: #EE5353;
        border-radius: 5px;
        color: white;
        padding: 3% 0%;
        margin-top: 5%;
        span {
            color: white;
        }
    }
}