.setting-img {
    width: 35%;
}

.user-info-form{
    margin-top: 2%;
    width: 85%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.input-field {
    width: 100%;
    margin: .5vmin 0;
    padding: 3% 5%;
    background-color: $search-bar-bgc;
    color: $search-bar-font;
   
}

.conf-button {
    
    background-color: red;
    width: 70%;
}

