.banner-container{
    background-color: $bgc;
    width: 100%;
    height: 25%;
    // margin-bottom: 8%;
    

    display: grid;
    grid-template-columns: 20% 1fr;
    grid-template-rows: repeat(2, auto);
    grid-template-areas:"bpi info"
    "status status";
    .banner-profile-img{
        grid-area: bpi;
        width: 100%;
    }
    
    .contain-info{
        grid-area: info;
        padding-left: 10%;
        margin: 0;
        

        .info-text{
            color: $font-color-light;
            margin: 0;
        }
    }
    .status{
        grid-area: status;
        text-decoration: underline solid;
    }
    
    
}