.user-menu {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100vw;
    // height: 11vh;
    padding: 4% 2%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    border-top-color: #828282;
    border: solid #828282 1px;
    background-color: $bot-menu-bgc;
    
    .menu-item{
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
        .count{
            position: absolute;
            top: 8%;
            right: 15%;
            width: 5vw;
            height: 5vw;
            text-align: center;
            background-color: $notification-alert;
            color: white;
            border-radius:50%;
            // border: pink solid 1px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            text-align: center;
            .count-digit{
                font-size: .6rem;
            }
        }
        .menu-name{
            font-size: .6rem;
            padding-top: 10%;
            letter-spacing: .1rem;
            color: $bot-menu-text;
        }
        .user-menu-icon{
            fill: #E9DBCC;
            width: 30%;
        }
    }
    
}