.order-line {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-bottom: 3%;
    background-color: rgba(141, 141, 141, .75);
    .order-item {
        display: inline-flex;
        align-items: center;
    }
}

.order-summary {
    width: 100%; // padding: 5%;
    padding: 0;
    margin-bottom: 5%;
    background-color: rgba(141, 141, 141, .75);
    .payment-button {
        // margin: 0 5% 5% 5%;
        width: 100%;
        background-color: #EE5353;
        border-bottom-left-radius: 5px;
        border-bottom-right-radius: 5px;
        color: white;
        padding: 3% 0%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        .payment-header {
            width: 80%;
            text-align: center;
            color: $font-color-light;
        }
        .payment-amount {
            font-size: 1.3rem;
            color: $warning-orange;
        }
    }
    .payment-method {
        margin: 5% 5% 0 5%;
    }
}