.admin-menu {
    width: 20vw;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
    border-right: 1px solid #4F4F4F;
    padding: 20%;
    display: grid;
    grid-template-rows: 12vh 1fr;

}