.admin-menu {
    width: 20%;
    height: 100vh;
    padding: 2.5%;
    position: absolute;
    top: 0;
    left: 0;
    border-right: 1px solid #4F4F4F;
    display: grid;
    grid-template-rows: 12vh 1fr;
    .corner {
        width: 100%;
        display:flex;
        justify-content: flex-start;
        align-items: center;
        .corner-logo{
            width: 12%
        }
        .corner-name{
            margin-left: 5%;
            font-size: .9rem;
        }
    }
    .menu{
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;

        .menu-section{
            width: 100%;
            .section-header{
                font-size: .8rem;
                
            }
            .section-pages{
                margin: 15% 0 20% 0;
                width: 100%;
                .section-page-line{
                    width: 100%;
                    display: flex;
                    align-items: center;
                    margin-bottom: 10%;
                    cursor: pointer;
                    .page-line-icon{
                        width: 7%
                    }
                    .page-line-text{
                        margin-left: 5%;
                        font-size: .7rem;
                    }
                }
                
            }
        }
    }
}