@import "src/scss/templates";

.status-switch {
    display: flex;
    justify-content: center;
    align-items: center; // height: 20%;
    .status {
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center; // height: 20%;
        border-radius: 5px;
        .status-text {
            font-size: 1rem;
            letter-spacing: .1rem;
        }
    }
    .status-chosen {
        background-image: $login-form-chosen-tap;
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center; // height: 20%;
        border-radius: 5px;
        .status-text {
            font-size: 1rem;
            letter-spacing: .1rem;
        }
    }
}