%full-width-height-infocard {
    width: 100%;
    height: 100%;
    border-radius: 10px;
    background-color: rgba(141, 141, 141, .65);
    padding: 3%;
}

.display-data-sub-container {
    @extend %full-width-height-infocard;
    grid-column: 1/2;
    grid-row: 2/3;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    .display-data-sub-image {
        width: 80%;
        border-radius: 10px;
    }
    .display-data-high-low {
        display: flex;
        flex-direction: column;
        text-align: center;
        padding: 1rem;
        .high-low {
            font-size: 1.7rem;
        }
        .high {
            color: rgba(115, 237, 166, .9);
            font-size: 1.5rem;
        }
        .low {
            color: rgba(244, 104, 104, 1);
            font-size: 1.5rem;
        }
    }

}