.edit-item-status {
    grid-column: 1/2; // Styling for child grid
    grid-row: 2/3;
    // Location from parent grid
    width: 76.62%;
    height: 90.33%;
    justify-self: center;
    display: grid;
    grid-row-gap: 11.42%;
    grid-template-columns: 18.73% 1fr;
    grid-template-rows: repeat(2, 44.29%);
    grid-template-areas: "select select" "star switch";
    .edit-item-filter-select {
        grid-area: select;
        font-size: 1rem;
        letter-spacing: 1px;
        font-weight: 500;
        padding: 4% 2%;
        text-align: center;
        text-align-last: center;
        border: 1px #C4C4C4 solid;
        color: red;
        background-color: rgba(141, 141, 141, .5);
        option {
            background-color: rgba(141, 141, 141, .5);
        }
    }
    .edit-item-star-container {
        grid-area: star;
        height: 100%;
        .edit-item-star-img {}
    }
    .edit-item-status-switch {
        grid-area: switch;
        background-color: red;
    }
}