.cardd {
    width: 100%;
    height: 15vh; // background-color: rgba(255, 255, 255, .2);
    background-color: black;
    border: white solid 3px;
    padding: 3%;
    p {
        color: white;
        text-justify: inter-character;
        -ms-text-justify: inter-character;
    }
}