// Templates
$bgc-tinted: hsla(255, 4%, 18%, .5);
$font-color-dark: rgba(22, 25, 23, .85);
$font-color-light: #E9DBCC;
$bgc: #2D2C30;

$theme-orange: rgba(252, 178, 75, 0.97);
$notification-alert: red;
$up: #6FCF97;
$down: #EB5757;
$item-card-bgc: #3D3D3D;
$item-card-text: rgba(233, 219, 204, 1);
$item-detail-bgc: rgba(66, 66, 66, .4);
$item-detail-text: rgba(233, 219, 204, .7);
// Imports, external
@import "~@blueprintjs/core/lib/css/blueprint.css";
@import "~@blueprintjs/icons/lib/css/blueprint-icons.css";
@import url('https://fonts.googleapis.com/css?family=Cormorant+Garamond:400,500|Proza+Libre:400,500');
// Imports, internal
@import './share/common';
@import './share/usermenu';
@import './share/topbanner';
@import './pages/login';
@import './pages/profile';
@import './pages/setting';
@import './pages/menu';