// Templates
$bgc-tinted: hsla(255, 4%, 18%, .5);
$font-color-dark: rgba(22, 25, 23, .85);
$font-color-light: rgba(233,219,204, 1);
$bgc: #2D2C30;

$search-bar-bgc: rgba(141,141,141, .8);
$search-bar-font: rgba(233,219,204, 1);

$theme-orange: rgba(252, 178, 75, 0.97);
$notification-alert: red;
$up: #6FCF97;
$up-dim: rgba(111,207,151, .24);
$down: #EB5757;
$down-dim: rgba(235,87,87, .24);
$item-card-bgc: #3D3D3D;
$item-card-text: rgba(233, 219, 204, 1);
$item-detail-bgc: rgba(66, 66, 66, .4);
$item-detail-text: rgba(233, 219, 204, .7);
// Imports, external
@import "~@blueprintjs/core/lib/css/blueprint.css";
@import "~@blueprintjs/icons/lib/css/blueprint-icons.css";
@import url('https://fonts.googleapis.com/css?family=Cormorant+Garamond:400,500|Proza+Libre:400,500');
// Imports, internal
@import './share/common';
@import './share/usermenu';
@import './share/topbanner';
@import './share/OrderBanner';
@import './pages/login';
@import './pages/profile';
@import './pages/setting';
@import './pages/menu';
@import './pages/display';
@import './pages/payment';
