.login-grid {
    position: absolute;
    top: 55%;
    left: 7.5%;
    width: 70%;
    height: 22%;
    display: grid;
    grid-template-columns: repeat(5, 20%);
    grid-template-rows: repeat(3, 1fr);
    grid-template-areas: "un un un un submit" "pw pw pw pw submit" "google google google facebook facebook";
    grid-gap: 5%;
    
    input {
      border-radius: 5px;
      width: 100%;
      background-color: rgba(141, 141, 141, 0.95);
      color: #E9DBCC;
    }
    button{
        width:100%;
    }

    div{
      border-radius: 5px;
    }
    .username {
      grid-area: un;
    }
    .password {
      grid-area: pw;
    }
    #submit {
      grid-area: submit;
      background-color: rgba(252, 178, 75, 0.97);
    }
    .google {
      grid-area: google;
    //   background-color: white;
    }
    #facebook {
      grid-area: facebook;
      background-color: blue;
    }
  }