$bgc: #2D2C30;

.userInterface {
    background-color: $bgc;
    width: 100vw;
    height: 100vh;
    display: grid;
    grid-template-rows: 85% 15%;
    .top-content{
        grid-row: 1/2;
    }
    .bot-menu {
        padding: 0 2%;
        grid-row: 2/3;
        width: 100%;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        text-align: center;
        img{
            width: 70%;
        }
    }
}