// Style element shares across multiple components
// Templates
$bgc-tinted: hsla(240, 3%, 18%, 0.5);
$bgc-shaded: rgba(45, 44, 48, .9);
$font-color-dark: rgba(22, 25, 23, .85);
$font-color-light: rgba(233, 219, 204, 1);
$bgc: #171619;
$search-bar-bgc: rgba(141, 141, 141, .3);
$search-bar-font: rgba(233, 219, 204, 1);
$placebolder-color:rgba(233, 219, 204, .55);
$theme-orange: rgba(252, 178, 75, 0.97);
$notification-alert: rgb(255, 0, 0);
$up: rgba(111, 207, 151, 1);
$up-dim: rgba(111, 207, 151, .24);
$down: rgba(235, 87, 87, 1);
$down-dim: rgba(235, 87, 87, .24);
$item-card-bgc: rgba(81, 81, 81, .9);
$item-card-text: rgba(233, 219, 204, 1);
$item-detail-bgc: rgba(81, 81, 81, .55);
$item-detail-subheaders: rgba(233, 219, 204, 1);
$item-detail-text: rgba(233, 219, 204, .7);
$admin-item-card-bgc: rgba(141, 141, 141, .5);
$admin-item-name-text:rgba(233, 219, 204, 1);
$admin-item-description-text:rgba(233, 219, 204, .5);
$admin-item-price-text:rgba(255, 205, 68, 1);
$admin-item-card-modal-bgc: rgba(141, 141, 141, .9);
$warning-orange: rgba(255, 205, 68, .9);
$bot-menu-bgc: rgba(81, 81, 81, 1);
$bot-menu-text: rgba(233, 219, 204, .6);
$login-form-bgc: rgba(141, 141, 141, .85);
$login-form-chosen-tap: linear-gradient(rgba(167, 167, 167, 0.85), rgba(141, 141, 141, .85));
$login-form-input: rgba(141, 141, 141, .95);
$submit-bgc:rgba(238, 83, 83, .85);
$submit-text: rgba(242, 242, 242, 1);
$header-text: rgba(233, 219, 204, 1);
$header-sub-text: rgba(233, 219, 204, .3);


// A map of breakpoints.
$breakpoints: (
  xs: 576px,
  sm: 768px,
  md: 992px,
  lg: 1200px
);


html,
body {
    background-color: $bgc;
    font-size: 16px;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1,
h2,
h3,
h4 {
    // margin: 1.414em 0 0.5em;
    font-weight: inherit;
    line-height: 1.2;
    font-family: 'Proza Libre', sans-serif;
    font-weight: 400;
    color: $font-color-light;
}

h1 {
    font-size: 3.998rem;
}

h2 {
    font-size: 2.827rem;
}

h3 {
    font-size: 1.999rem;
}

h4 {
    font-size: 1.414rem;
}

span,
p {
    font-family: 'Proza Libre', sans-serif;
    font-weight: 400;
    font-size: 1rem;
    line-height: 1.45;
    color: $font-color-light;
    vertical-align: middle;
}

small,
.font_small {
    font-family: 'IBM Plex Mono', monospace;
    font-size: 0.707rem;
    color: $font-color-light;
}

button,
input {
    border: 0;
}
// Mobile
.page-content-container {
    width: 100%;
    padding: 5vh 10% 17vh 10%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.rd-corner {
    border-radius: 5px;
}

.searchbar {
    width: 100%;
    padding: 3.5% 5%;
    background-color: $search-bar-bgc;
    color: $search-bar-font;
    font-size: 1rem;
    font-family: 'IBM Plex Mono', monospace;
}

#up-triangle-path,
#up-triangle-group {
    fill: $up;
    stroke: $up;
}

*::-moz-placeholder,
*::-ms-input-placeholder,
*::-webkit-input-placeholder {
    color: $placebolder-color;
}

//   Desktop
.desktop-page-container {
    width: 100vw;
    height: 100vh;
    position: relative;
    display: grid;
    grid-template-columns: 20% 1fr 20%;
    grid-template-rows: 12vh 1fr;
    grid-gap: 5px;
}


// Repeatable SCSS component
%clickable {
    cursor: pointer;
}

%small-text {
    font-size: 0.8rem;
}

%flex-cnt-cnt {
    display: flex;
    justify-content: center;
    align-items: center;
}

%width-height-hundred {
    width: 100%;
    height: 100%;
}

%clear-preset-margin-padding {
    margin: 0;
    padding: 0;
}

%grid-self-justify-align {
    justify-self: center;
    align-self: center;
}

%disable{
    filter: grayscale(80%);
    pointer-events: none;
}