.topbanner{
    background-color: $bgc;
    width: 100%;
    height: 20vh;
    padding: 0 10%;

    display: grid;
    grid-template-columns: 20% 1fr;
    align-items: center;
    img{
        width: 100%;
        border-radius: 50%;
    }
    h2{
        padding-left: 10%;
        color: $font-color-light;
    }
}