.topbanner{
    background-color: $bgc;
    width: 100%;
    height: 10%;
    margin-bottom: 8%;
    

    display: grid;
    grid-template-columns: 20% 1fr;
    align-items: center;
    vertical-align: baseline;
    
    img{
        width: 100%;
    }
    h2{
        padding-left: 10%;
        margin: 0;
        color: $font-color-light;
    }
}