.menu-item-container {
    position: relative;
    margin: 5% 0;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-end; // Card - top part of the item
    .menu-item-card-container {
        position: relative;
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        .menu-item-img {
            width: 20%;
            border-radius: 50%;
            position: relative;
            left: 10%; // position: absolute;
            // top: 15%;
            // left: -25%;
            filter: drop-shadow(0 4px 4px rgba(0, 0, 0, .25));
        }
        .menu-item-card {
            width: 80%;
            height: auto;
            background-color: $item-card-bgc;
            display: grid;
            grid-template-columns: repeat(4, 25%);
            grid-template-rows: repeat(5, 20%); // Absolute positioning
            .item-info {
                position: absolute;
                top: 10px;
                right: 10px;
                width: 5%;
            }
            .add-item {
                position: absolute;
                bottom: -15px;
                right: 20px;
                width: 30px;
            }
            .menu-item-name {
                font-size: 1.1rem;
                flex-wrap: wrap;
                grid-column: 2/4;
                grid-row: 1/4;
                font-weight: 500;
                color: $item-card-text;
            }
            .menu-item-bot {
                width: 100%;
                grid-column: 2/5;
                grid-row: 4/6;
                .item-split {
                    margin: 7% 0;
                    width: 20%;
                    border-radius: 20%;
                    border: 2px solid rgba(255, 205, 68, .75);
                }
                .item-fluctuation {
                    // grid-column: 2/5;
                    width: 100%;
                    display: flex;
                    flex-direction: row;
                    justify-content: space-around;
                    align-items: center;
                    .item-flucutation-container {
                        width: 50%;
                        display: flex;
                        flex-direction: row;
                        justify-content: flex-start;
                        align-items: center;
                        text-align: center;
                        .flux-img {
                            width: 15%;
                        }
                        .item-fluctuation-display {
                            text-align: center;
                            display: flex;
                            justify-items: center;
                            font-size: .8rem;
                            margin-left: 8%;
                        }
                    }
                }
            }
        } // Collapse - the flex part of the item
    }
    .item-detail-collapse {
        width: 80%;
        background-color: $item-detail-bgc;
        .item-detail-wrapper {
            width: 100%;
            padding: 12% 10%;
            .item-detail-subheader {
                color: $item-detail-subheaders;
                text-transform: uppercase;
                letter-spacing: 3px;
                font-size: .8rem;
                font-weight: 600;
                padding: 0;
                margin: 0;
            }
            .item-detail {
                color: $item-detail-text;
                font-size: .7rem;
                letter-spacing: .05rem;
                margin-bottom: 12%;
            }
            %item-details-breakline {
                width: 9.59%;
                margin: 3% 0 7% 0;
            }
            .item-deatils-split {
                @extend %item-details-breakline;
                border: solid rgba(255, 205, 68, .75) 1px;
            }
            .item-performance-split {
                @extend %item-details-breakline;
                border: solid rgba(115, 237, 166, .75) 1px;
            }
            .menu-item-detail-graph-container {
                width: 100%;
                height: 10vh;
            }
        }
    }
}