// UI styling
//--> Mobile
@import './mobile/categoryfilter';
@import './mobile/header';
@import './mobile/itemcard';
@import './mobile/menuitem';
@import './mobile/orderbanner';
@import './mobile/topbanner';
@import './mobile/usermenu';
@import './mobile/profilegraph';
//--> Desktop
@import './desktop/sidemenu';
@import './desktop/stockfilter';
@import './desktop/stockitemline';
@import './desktop/pageheader';
@import './desktop/ordercard';
@import './desktop/stockitem/stockadditemcard';
@import './desktop/stockitem/additemmodal/itemDescription';
@import './desktop/stockitem/additemmodal/itemImage';
@import './desktop/stockitem/additemmodal/itemInfo';
@import './desktop/stockitem/additemmodal/itemStatus';
