@import "src/scss/templates";
.user-menu {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100vw; // height: 11vh;
    padding: 4% 2%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    border-top-color: #828282;
    border-top: solid #828282 1px;
    background-color: $bot-menu-bgc;
    .menu-item {
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
        .count {
            position: absolute;
            top: -2vw;
            right: 13%;
            width: 5vw;
            height: 5vw;
            text-align: center;
            background-color: $notification-alert;
            color: white;
            border-radius: 50%; // border: pink solid 1px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            text-align: center;
            .count-digit {
                font-size: .6rem;
            }
        }
        .menu-name {
            font-size: .6rem;
            padding-top: 10%;
            letter-spacing: .1rem;
            color: rgba(242, 242, 242, .5); // color: $bot-menu-text;
        }
        .user-menu-icon {
            fill: #E9DBCC;
            width: 30%;
        }
    }
}

.desktop-user-menu {
    position: fixed;
    bottom: 0;
    left: 30vw;
    width: 40vw;
    height: 9vh;
    padding: 4% 2%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    border-top-color: #828282;
    border-top: solid #828282 1px;
    background-color: $bot-menu-bgc;
    .menu-item {
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
        .count {
            position: absolute;
            top: -3vw;
            right: 13%;
            width: 2vw;
            height: 2vw;
            text-align: center;
            background-color: $notification-alert;
            color: white;
            border-radius: 50%; // border: pink solid 1px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            text-align: center;
            .count-digit {
                font-size: .6rem;
            }
        }
        .menu-name {
            font-size: .6rem;
            padding-top: 10%;
            letter-spacing: .1rem;
            color: rgba(242, 242, 242, .5); // color: $bot-menu-text;
        }
        .user-menu-icon {
            fill: #E9DBCC;
            width: 30%;
        }
    }
}