//--> Mobile
@import './mobile/initialize';
@import './mobile/login';
@import './mobile/profile';
@import './mobile/setting';
@import './mobile/menu';
@import './mobile/payment';
@import './mobile/order';
@import './mobile/orderlist';
@import './mobile/request';
@import './mobile/introduction';
//--> Desktop
@import './desktop/stockmanagement';
@import './desktop/currentorders';
@import './desktop/specialevent';

// Display screen styling
