//--> Mobile
@import './mobile/login';
@import './mobile/profile';
@import './mobile/setting';
@import './mobile/menu';
@import './mobile/payment';
@import './mobile/order';
@import './mobile/orderlist';
@import './mobile/request';
//--> Desktop
@import './desktop/stockmanagement';
@import './desktop/currentorders';
@import './desktop/specialevent';
@import './desktop/login';
// Display screen styling
@import './display/display';