.edit-item-container {
    width: 62.5%;
    height: 44.51%;
    background-color: $admin-item-card-modal-bgc;
    padding: 3%;
    .edit-item-grid {
        width: 100%;
        height: 100%;
        display: grid;
        grid-template-rows: 66% 34%;
        grid-template-columns: 48% 52%;
    }
}