.edit-item-container {
    width: 62.5vw;
    height: 31.67vw;
    background-color: $admin-item-card-modal-bgc;
    padding: 3%;
    .edit-item-grid {
        width: 100%;
        height: 100%;
        display: grid;
        justify-content: center;
        align-items: center;
        position: relative;
        grid-template-rows: 56.8% 43.20%;
        grid-template-columns: 48.11% 51.89%;
        .stockadd-button{
            position: absolute;
            width: 8%;
            padding: 0;
            right:  10%;
            bottom: -20%;
        }
    }
}