@import "src/scss/templates";
.edit-item-info-container {
    // Location of the container
    @extend %grid-self-justify-align;
    grid-row: 1/2;
    grid-column: 2/3;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    width: 84.8%;
    height: 80%;
    .edit-item-info-name {
        padding: 0;
        background-color: transparent;
        color: rgb(233, 219, 204);
        font-family: "Proza Libre";
        font-size: 2.25rem;
    }
    .edit-item-info-breakline {
        width: 100%;
        margin: 1vh 0;
        border: 1px rgb(233, 219, 204) solid;
    }
    .edit-item-value-container {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        
        .edit-item-value-line-container {
            display: flex;
            justify-content: space-between;
            .edit-item-value-line-text {
                font-size: 1.625rem;
            }
            .warning {
                color: #FFCD44;
            }
            .alert {
                color: #EE5353;
            }
            .info {
                color: #73EDA6;
            }
            .line-number-container {
                .edit-item-value-line-numbers {
                    text-align: right;
                    width: 8vw;
                    background-color: transparent;
                    color: rgb(233, 219, 204);
                    font-size: 1.625rem;
                }
            }
        }
    }
}