@import "src/scss/templates";
.stock-item-card {
  background-color: $admin-item-card-bgc;
  width: 52.5vw;
  height: 52.5vw * 177 / 756;
  display: grid; // grid-template-columns: 23.41% 53.18% 23.41%;
  grid-template-columns: 23.41% 56.59% 20%;
  margin-bottom: 2.5%;
  .stock-item-img {
    background-color: rgb(59, 58, 58);
    padding: 2vh;
    width: 100%;
  }
  .stock-item-info {
    height: 100%;
    display: grid;
    grid-template-rows: 20% 25% 30% 24%;
    padding: 2% 4%; // padding-left: 4%;
    .stock-item-category {
      align-self: center;
      font-size: 0.5rem;
      letter-spacing: 0.5px;
    }
    // .stock-item-name-price {
    //   width: 100%;
    //   display: flex;
    //   justify-content: space-between;
    //   align-items: center;
    //   .stock-item-name {
        
    //     color: $admin-item-name-text;
    //   }
    //   .stock-item-price {
    //     color: $admin-item-price-text;
    //   }
    // }
    @media screen and (min-width: 768px) {
      .stock-item-name-price {
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        .stock-item-name {
          font-size: 1rem;
          color: $admin-item-name-text;
        }
        .stock-item-price {
          font-size: 1rem;
          color: $admin-item-price-text;
        }
      }
      .stock-item-description {
        height: 100%;
        font-size: .5rem;
        line-height: 1.2;
        color: $admin-item-description-text;
        margin: 0;
        padding: 0;
        overflow: hidden;
      }
      .stock-item-price-floor {
        align-self: center;
        .stock-item-price-floor-text {
          font-size: 0.6rem;
          color: #e77070;
        }
        .stock-item-price-floor-number {
          font-size: 0.6rem;
          margin-left: 3%;
        }
      }
    }
    @media screen and (min-width: 1200px) {
      .stock-item-name-price {
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        .stock-item-name {
          font-size: 1.5rem;
          color: $admin-item-name-text;
        }
        .stock-item-price {
          font-size: 1.5rem;
          color: $admin-item-price-text;
        }
      }
      .stock-item-description {
        // height: 100%;
        font-size: 1rem;
        line-height: 1.2;
        color: $admin-item-description-text;
        margin: 0;
        padding: 0;
        overflow: hidden;
      }
      .stock-item-price-floor {
        align-self: center;
        .stock-item-price-floor-text {
          font-size: 1rem;
          color: #e77070;
        }
        .stock-item-price-floor-number {
          font-size: 1rem;
          margin-left: 3%;
        }
      }
    }
  }
  .stock-item-mod {
    display: grid;
    grid-template-rows: 40% 1fr;
    .spec-act {
      padding: 0 10%;
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 100%;
      .isSpecial {
        @extend %flex-cnt-cnt;
        .star {}
      }
      .active-button {
        @extend %flex-cnt-cnt;
        width: 70%;
        height: 40%; // padding: 4% 15%;
      }
      .isActive {
        background-color: rgba(115, 237, 166, 0.9);
        .isActive-button-text {
          font-size: 100%;
        }
      }
      .isNotActive {
        background-color: rgba(238, 83, 83, 0.8);
        .isActive-button-text {
          font-size: 100%;
        }
      }
    }
    .item-edit-menu {
      width: 100%;
      padding: 10%;
      display: flex;
      justify-content: flex-end;
      align-items: flex-start;
      .edit-item-icon {
        @extend %clickable;
        margin: 0 5%;
        width: 12%;
      }
    }
  }
}