%full-width-height-infocard {
    width: 100%;
    height: 100%;
    border-radius: 10px;
    background-color: rgba(141, 141, 141, .65);
    padding: 3%;
}

.display-container {
    display: grid;
    grid-template-rows: 90vh 10vh;
    .display-data-container {
        grid-row: 1/2;
        width: 100%;
        height: 100%;
        padding: 2.5%;
        display: grid;
        grid-column-gap: 2%;
        grid-row-gap: 3%;
        grid-template-columns: 25% 43% 28%;
        grid-template-rows: 44% 53%;
        .display-data-info-container {
            @extend %full-width-height-infocard;
            grid-column: 2/3;
            grid-row: 2/3;
            .youtube-container {
                position: relative;
                width: 100%;
                height: 100%;
                .video {
                    position: relative;
                    top: 0;
                    left: 0;
                    width: 100%;
                    height: 100%;
                    border-radius: 10px;
                }
            }
        }
    }
    .rss-feed {
        grid-row: 2/3;
        background-color: #4B4A51;
        width: 100%;
        padding: 0 3%;
        display: flex;
        align-items: center;
        .feed-text {
            font-size: 1.5rem;
            font-weight: 500;
            letter-spacing: 1px;
        }
    }
    .rss-feed-flick {
        grid-row: 2/3;
        background-color: rgb(255, 23, 23);
        width: 100%;
        padding: 0 3%;
        display: flex;
        align-items: center;
        .feed-text {
            font-size: 1.5rem;
            font-weight: 500;
            letter-spacing: 1px;
        }
    }
}