%full-width-height-infocard {
    width: 100%;
    height: 100%;
    border-radius: 10px;
    background-color: rgba(141, 141, 141, .65);
    padding: 3%;
}

%clear-preset-margin-padding {
    margin: 0;
    padding: 0;
}


.display-data-main-container {
    @extend %full-width-height-infocard; // margin: 0 2%;
    grid-column: 1/3;
    grid-row: 1/2;
    display: grid;
    align-items: center;
    grid-template-columns: 40% 60%;
    grid-template-rows: 34.48% 65.52%;
    .display-data-category-name-container {
        padding: 0 5%;
        align-self: flex-end;
        .display-data-category-name-text {
            @extend %clear-preset-margin-padding;
            color: #FFCD44;
            letter-spacing: 3px;
            text-transform: uppercase;
            font-weight: 600;
            font-size: 2.3rem;
        }
    }
    .display-data-category-price-fluctuation-container {
        padding: 5%;
        .price {
            @extend %clear-preset-margin-padding;
            font-weight: 600;
            color: rgba(115, 237, 166, .8);
            font-size: 3.5rem;
        }
        .info {
            @extend %clear-preset-margin-padding;
            font-size: 1.4rem;
        }
    }
    .display-data-category-price-graph-container {
        padding: 5%;
        grid-column: 2/3;
        grid-row: 1/3;
        width: 100%;
        height: 100%;
    }
}