@import "src/scss/templates";

.intro-container {
    width: 100vw;
    height: 100vh;
    position: relative;
    display: flex;
    align-items: center;
    .slider-cont {
        width: 100%;
        height: 100%;
        .intro-content {
            .intro-content-image {
                border-radius: 10px;
                width: 100%; // height: 100vh;
            }
            padding: 15%;
            .intro-header {
                font-size: 1.3rem;
                font-weight: 600;
                letter-spacing: 1px;
                text-align: center;
                color: $font-color-light;
            }
            .intro-text {
                font-size: 100%;
                text-align: center;
            }
            .intro-skip {
                width: 80%;
                margin: 10%;
                padding: 5% 10%;
                border-radius: 10px;
                font-size: 120%;
                background-color: rgba(238, 83, 83, .85);
                color: rgba(233, 219, 204, 1);
            }
        }
    }
}