$bgc-tinted: hsla(255, 4%, 18%, .5  );
.container {
  h1{
    margin: 0;
  }
  text-align: center;
  width: 100vw;
  height: 100vh;
  background-image: linear-gradient($bgc-tinted, $bgc-tinted), url("./images/landingpage.jpg");
  background-size: cover;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-attachment: fixed;
  position: relative;
  .login-grid{
    position: absolute;
    top: 60%;
    width: 80%;
    display: grid;

    
    input{
      width: 40%;
    }
    #id{
      grid-area: id;
    }
    #password{
      grid-area: password;
    }
    #submit{
      grid-area: submit;
    }
    #google{

    }
    #facebook{
      
    }
  }
}
