@import "src/scss/templates";
.desktop-page-container {
    width: 100vw;
    height: 100vh;
    position: relative;
    display: grid;
    grid-template-columns: 20% 1fr 20%; // grid-template-rows: 12vh 1fr;
    grid-gap: 5px;
}

.currentorder-container-center {
    grid-column: 2/3;
    grid-row: 1/3;
    padding: (100vw * .025);
    display: grid;
    grid-template-rows: 12vh 1fr;
    .currentorder-wrapper {
        grid-row: 2/3;
        display: flex;
        flex-direction: column;
        .currentorder-header {
            width: 100%;
            display: flex;
            flex-direction: column;
            justify-content: flex-end;
            .refresh {
                width: 2vw;
                padding-bottom: 2vh;
            }
        }
        .order-card-display {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
        }
    }
}