.desktop-page-container {
    width: 100vw;
    height: 100vh;
    position: relative;
    display: grid;
    grid-template-columns: 20% 1fr 20%;
    // grid-template-rows: 12vh 1fr;
    grid-gap: 5px;
}
.currentorder-container-center {
    grid-column: 2/3;
    grid-row: 1/3;
    padding: (100vw * .025);
    display: grid;
    grid-template-rows: 12vh 1fr;
    .currentorder-header {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
    }
    .order-card-display {
        display: grid;
        grid-template-columns: 50%;
        .order-card-container {
            display: flex;
            flex-direction: column;
        }
    }
}
// .currentorder-container-center { 
//     grid-column: 2/3;
//     grid-row: 1/3;
//     padding: (100vw * .025);
//     display: grid;
//     grid-template-rows: 12vh 1fr;
// .order-card-display {
//     grid-column: 2/3;
//     display: grid;
//     padding: (100vw * .025);
//     grid-template-columns: 40vw 40vw;
//     grid-template-rows: 30vh 30vh 30vh;
// }
// .currentorder-header {
//     width: 100%;
//     display: flex;
//     flex-direction: column;
//     justify-content: flex-end;
//     margin-bottom: 3%;
//     .header-text {
//         font-size: 1rem;
//     }
// }
// }