.order-card-display {
    grid-column: 2/3;
    display: grid;
    grid-template-columns: 40vw 40vw;
    grid-template-rows: 30vh 30vh 30vh;
    padding: 5vh
}
.currentorder-header {
    grid-column: 2/3;
    display: grid;
    grid-template-rows: 20% 1fr;
    h1 {
        padding: 5vh;
    }
}